In [1]:
#was to print "hello World" by using shell

"Hello World"

'Hello World'

In [2]:
#was to print "hello World" by using print statement
print("hello Every One")

hello Every One

In [8]:
#was to intialize the variable and value as 50
a=50
print(a)

50

In [22]:
#was to intialize multible values are 150,120,250(take your own variable names)
a,b,c=150,120,250
print(a)
print( b)
print( c)

150
120
250

In [10]:
#was to print the type of the data in given values
a={10,20}
type(a)

set

In [18]:
#was to print the address of the memory block in given value
a={10,20}
print(id(a))

print(
id({10,20}))

1986661671520
1986661669728

In [23]:
#was to print your details first store your details,extract the values and display it.
name="sunethra"
age=21
phone=7396929629
email="sunethra@gmail.com"
print("Name=" + name)
print(age)
print(phone)
print(email)

Name=sunethra
21
7396929629
sunethra@gmail.com

In [24]:
#was to swap the two values with a temp variable
a="sai"
b="sunethra"
temp=a
a=b
b=temp
print(a)
print(b)

sunethra
sai

In [25]:
#was to swap the two values with a temp variable
a="sai"
b="sunethra"
a,b=b,a
print(a)
print(b)

sunethra
sai

In [27]:
#was to intialixe a value and print the value, after print the value, then reintialize the new value to the existing variable and display the value
a={'a':"sunethra"} #intialization
print(a) #fetch
a['a']="lakshmi"#modification
print(a)
a=[10,20,30]#reintialization
print(a)
a+=[40,50,60]
print(a)
del a
print(a)

{'a': 'sunethra'}
{'a': 'lakshmi'}
[10, 20, 30]
[10, 20, 30, 40, 50, 60]

NameError: name 'a' is not defined

In [29]:
#was to convert single to multi value data type I/P==> a=10 o/p==>[1,0]
a=10
a=str(a)
a=list(a)
print(a)

b=20
list(str(b))

['1', '0']

['2', '0']

In [35]:
#was to concat the two multip values data types (str,list,tuple,set,dict)
str="sunethra"
str+="sai"
print(str)
list=[10,20,30]
list+=[400,5,60]
print(list)
liststr=[10,20,30]
liststr+='hai'
print(liststr)
listtuple=[10,20,30]
listtuple+=(1,2,3)
print(listtuple)
listset=[10,20,30]
listset+={'a','b','c'}
print(listset)
listdict=[10,20,30]
listdict+={'a':'b','c':'d'}
print(listdict)
listlist=[10,20]
listlist+=[30,40]
tuple=('a','b','c')
tuple+=(1,2,3)
print(tuple)
set={10,20,30}
set|={40,50}
print(set)
dict={10:20,30:40}
dict|={50:60,70:80}
print(dict)

sunethrasai
[10, 20, 30, 400, 5, 60]
[10, 20, 30, 'h', 'a', 'i']
[10, 20, 30, 1, 2, 3]
[10, 20, 30, 'a', 'b', 'c']
[10, 20, 30, 'a', 'c']
('a', 'b', 'c', 1, 2, 3)
{50, 20, 40, 10, 30}
{10: 20, 30: 40, 50: 60, 70: 80}

In [36]:
#was to check the length of the collection
t=910,20
len(t)

2

In [37]:
#wae to equation to send find out the middle value of the given collection
d=[10,20,30,40,50,60]
d[len(d)//2]

40

In [38]:
#was to concat the dnew string into the starting of the given string
a="how are you"
b="haii"
a=b+a
print(a)

haiihow are you

In [40]:
#was to connect the new string into the ending of the given string
s="str"
t="ing"
s=s+t
print(s)

string

In [54]:
#was to connect the new string into the ending of the given string
s="strg"
s[0:3:1]+ "in" +s[3:0:]

'strin'

In [47]:
#was to modify the new character into the middle of the given string
s="pyspiders"
s[0:len(s)//2]+'I'+s[(len(s)//2)+1:]

'pyspIders'

In [55]:
#was to modify the sequence of  character in given string
s="pyspiders"
s[0:3]+"PID"+s[6:]

'pysPIDers'

In [59]:
#was to replace the old characters in given character 
s="pyspiders"
print(s[:-4]+"D"+s[-3:])
print(s[:5]+'d'+s[6:])

pyspiDers
pyspiders

In [60]:
#was to delete the specific characteer in the given string
s="pysiders"
s[:2]+s[3:]

'pyiders'

In [61]:
#was to delete the specific characteer in the given string
s="pysiders"
s[:3]+s[6:]

'pysrs'

In [62]:
#was to concat the new string into the specific position of the given string
r='haii are you!'
r[0:4+1]+"how"+r[4:]

'haii how are you!'

In [63]:
#was to concat the new value into the starting of the given list
l=[1,2,3]
l=["a","b"]+l
print(l)
#address will change

['a', 'b', 1, 2, 3]

In [64]:
#was to concat the new value into the starting of the given list
l=[1,2,3]
l[0:0]=["a","b"]
print(l)
#address will not change

['a', 'b', 1, 2, 3]

In [65]:
#was to concat the new value into the ending of the given list
l=[1,2,3]
l=l+["a","b"]
print(l)
#address will change

[1, 2, 3, 'a', 'b']

In [66]:
#was to concat the new value into the ending of the given list
l=[1,2,3]
l[4:4]=["a","b"]
print(l)
#address will not change

[1, 2, 3, 'a', 'b']

In [67]:
#was to concat the new value into the ending of the given list
l=[1,2,3]
l+=["a","b"]
print(l)
#address will not change

[1, 2, 3, 'a', 'b']

In [77]:
#was to concat the new value into the middle of the given list

l=[1,2,3]
l[len(l)//2 : len(l)//2]=['10','20']
print(l)

[1, '10', '20', 2, 3]

In [2]:
#was to concat the new value into the specific position of the given list
l=[10,150.12,True,'hai']
l[-2:-2]=[100,200]
print(l)

[10, 150.12, 100, 200, True, 'hai']

In [3]:
#was to modify the new value into the specific position of the given list
l=[10,150.12,True,'hai']
l[-2]=[100,200]
print(l)

[10, 150.12, [100, 200], 'hai']

In [4]:
#was to modify the new value into the starting of th given list
l=[10,150.12,True,'hai']
l[0]=[100,200]
print(l)

[[100, 200], 150.12, True, 'hai']

In [5]:
#was to modify the new value into the ending of th given list
l=[10,150.12,True,'hai']
l[-1]=[100,200]
print(l)

[10, 150.12, True, [100, 200]]

In [8]:
#was to modify the new value into the middle of th given list
l=[10,150.12,True,'hai']
l[len(l)//2]=[100,200]
print(l)

[10, 150.12, [100, 200], 'hai']

In [10]:
#was to modify the firdt 4 position value into the starting of th given list
l=[10,150.12,True,'hai',5,6,7]
l[0:4]=[100,200,300,400]
print(l)

[100, 200, 300, 400, 5, 6, 7]

In [12]:
#was to modify the sequence of  value into the starting of th given list
l=[10,150.12,True,'hai',5,6,7]
l[1:3]=[100,200,300,400]
print(l)

[10, 100, 200, 300, 400, 'hai', 5, 6, 7]

In [13]:
#d=[1,3,2,5,4,7,8,9,15] o/p==> d=[1,3,4,5,16,7,64,61]

d=[1,3,2,5,4,7,8,9,15]
d[::2]=[d[0]**2,d[2]**2,d[4]**2,d[6]**2,d[8]**2,]
d

[1, 3, 4, 5, 16, 7, 64, 9, 225]

In [19]:
# was to delete the values in the dpecific position of the given list 

l=[1,2,3,4,5,6,7,8]
l[0:3]+l[4::]
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [20]:
# was to delete the values in the dpecific position of the given list 

l=[1,2,3,4,5,6,7,8]
del l[2]
l

[1, 2, 4, 5, 6, 7, 8]

In [21]:
# was to delete the values in the dpecific position of the given list 

l=[1,2,3,4,5,6,7,8]
l[4:5]=[]
l

[1, 2, 3, 4, 6, 7, 8]

In [1]:
# was to delete the values in the dpecific position of the given list 

l=[1,2,3,4,5,6,7,8]
l[4:5]=[]
l

[1, 2, 3, 4, 6, 7, 8]