In [1]:
#1) was to print "hello World" by using shell

"Hello World"

'Hello World'

In [1]:
#2)wap to print hello world bu sing print function
print("hello wrold")

hello wrold

In [8]:
#3) was to intialize the variable and value as 50
a=50
print(a)

50

In [22]:
#4) was to intialize multible values are 150,120,250(take your own variable names)
a,b,c=150,120,250
print(a)
print( b)
print( c)

150
120
250

In [10]:
#5) was to print the type of the data in given values
a={10,20}
type(a)

set

In [18]:
#6) was to print the address of the memory block in given value
a={10,20}
print(id(a))

print(
id({10,20}))

1986661671520
1986661669728

In [23]:
#7) was to print your details first store your details,extract the values and display it.
name="sunethra"
age=21
phone=7396929629
email="sunethra@gmail.com"
print("Name=" + name)
print(age)
print(phone)
print(email)

Name=sunethra
21
7396929629
sunethra@gmail.com

In [24]:
#8) was to swap the two values with a temp variable
a="sai"
b="sunethra"
temp=a
a=b
b=temp
print(a)
print(b)

sunethra
sai

In [25]:
#9) was to swap the two values with a temp variable
a="sai"
b="sunethra"
a,b=b,a
print(a)
print(b)

sunethra
sai

In [27]:
#10) was to intialixe a value and print the value, after print the value, then reintialize the new value to the existing variable and display the value
a={'a':"sunethra"} #intialization
print(a) #fetch
a['a']="lakshmi"#modification
print(a)
a=[10,20,30]#reintialization
print(a)
a+=[40,50,60]
print(a)
del a
print(a)

{'a': 'sunethra'}
{'a': 'lakshmi'}
[10, 20, 30]
[10, 20, 30, 40, 50, 60]

NameError: name 'a' is not defined

In [29]:
# 11) was to convert single to multi value data type I/P==> a=10 o/p==>[1,0]
a=10
a=str(a)
a=list(a)
print(a)

b=20
list(str(b))

['1', '0']

['2', '0']

In [35]:
#12) was to concat the two multip values data types (str,list,tuple,set,dict)
str="sunethra"
str+="sai"
print(str)
list=[10,20,30]
list+=[400,5,60]
print(list)
liststr=[10,20,30]
liststr+='hai'
print(liststr)
listtuple=[10,20,30]
listtuple+=(1,2,3)
print(listtuple)
listset=[10,20,30]
listset+={'a','b','c'}
print(listset)
listdict=[10,20,30]
listdict+={'a':'b','c':'d'}
print(listdict)
listlist=[10,20]
listlist+=[30,40]
tuple=('a','b','c')
tuple+=(1,2,3)
print(tuple)
set={10,20,30}
set|={40,50}
print(set)
dict={10:20,30:40}
dict|={50:60,70:80}
print(dict)

sunethrasai
[10, 20, 30, 400, 5, 60]
[10, 20, 30, 'h', 'a', 'i']
[10, 20, 30, 1, 2, 3]
[10, 20, 30, 'a', 'b', 'c']
[10, 20, 30, 'a', 'c']
('a', 'b', 'c', 1, 2, 3)
{50, 20, 40, 10, 30}
{10: 20, 30: 40, 50: 60, 70: 80}

In [36]:
#13) was to check the length of the collection
t=910,20
len(t)

2

In [37]:
#14) wae to equation to send find out the middle value of the given collection
d=[10,20,30,40,50,60]
d[len(d)//2]

40

In [38]:
#15) was to concat the dnew string into the starting of the given string
a="how are you"
b="haii"
a=b+a
print(a)

haiihow are you

In [40]:
#16) was to connect the new string into the ending of the given string
s="str"
t="ing"
s=s+t
print(s)

string

In [54]:
#17) was to connect the new string into the middle of the given string
s="strg"
s[0:3:1]+ "in" +s[3:0:]

'strin'

In [47]:
#18) was to modify the new character into the middle of the given string
s="pyspiders"
s[0:len(s)//2]+'I'+s[(len(s)//2)+1:]

'pyspIders'

In [55]:
#19) was to modify the sequence of  character in given string
s="pyspiders"
s[0:3]+"PID"+s[6:]

'pysPIDers'

In [59]:
#20) was to replace the old characters in given character 
s="pyspiders"
print(s[:-4]+"D"+s[-3:])
print(s[:5]+'d'+s[6:])

pyspiDers
pyspiders

In [60]:
#21) was to delete the specific characteer in the given string
s="pysiders"
s[:2]+s[3:]

'pyiders'

In [61]:
#23) was to delete the specific characteer in the given string
s="pysiders"
s[:3]+s[6:]

'pysrs'

In [62]:
#22) was to concat the new string into the specific position of the given string
r='haii are you!'
r[0:4+1]+"how"+r[4:]

'haii how are you!'

In [63]:
#24) was to concat the new value into the starting of the given list
l=[1,2,3]
l=["a","b"]+l
print(l)
#address will change

['a', 'b', 1, 2, 3]

In [64]:
#24) was to concat the new value into the starting of the given list
l=[1,2,3]
l[0:0]=["a","b"]
print(l)
#address will not change

['a', 'b', 1, 2, 3]

In [65]:
#25) was to concat the new value into the ending of the given list
l=[1,2,3]
l=l+["a","b"]
print(l)
#address will change

[1, 2, 3, 'a', 'b']

In [66]:
#25) was to concat the new value into the ending of the given list
l=[1,2,3]
l[4:4]=["a","b"]
print(l)
#address will not change

[1, 2, 3, 'a', 'b']

In [67]:
#25) was to concat the new value into the ending of the given list
l=[1,2,3]
l+=["a","b"]
print(l)
#address will not change

[1, 2, 3, 'a', 'b']

In [77]:
#26) was to concat the new value into the middle of the given list

l=[1,2,3]
l[len(l)//2 : len(l)//2]=['10','20']
print(l)

[1, '10', '20', 2, 3]

In [2]:
#27) was to concat the new value into the specific position of the given list
l=[10,150.12,True,'hai']
l[-2:-2]=[100,200]
print(l)

[10, 150.12, 100, 200, True, 'hai']

In [3]:
#28) was to modify the new value into the specific position of the given list
l=[10,150.12,True,'hai']
l[-2]=[100,200]
print(l)

[10, 150.12, [100, 200], 'hai']

In [4]:
#29) was to modify the new value into the starting of th given list
l=[10,150.12,True,'hai']
l[0]=[100,200]
print(l)

[[100, 200], 150.12, True, 'hai']

In [5]:
#30) was to modify the new value into the ending of th given list
l=[10,150.12,True,'hai']
l[-1]=[100,200]
print(l)

[10, 150.12, True, [100, 200]]

In [8]:
#31) was to modify the new value into the middle of th given list
l=[10,150.12,True,'hai']
l[len(l)//2]=[100,200]
print(l)

[10, 150.12, [100, 200], 'hai']

In [10]:
#32) was to modify the firdt 4 position value into the starting of th given list
l=[10,150.12,True,'hai',5,6,7]
l[0:4]=[100,200,300,400]
print(l)

[100, 200, 300, 400, 5, 6, 7]

In [12]:
#33) was to modify the sequence of  value into the starting of th given list
l=[10,150.12,True,'hai',5,6,7]
l[1:3]=[100,200,300,400]
print(l)

[10, 100, 200, 300, 400, 'hai', 5, 6, 7]

In [13]:
#d=[1,3,2,5,4,7,8,9,15] o/p==> d=[1,3,4,5,16,7,64,61]

d=[1,3,2,5,4,7,8,9,15]
d[::2]=[d[0]**2,d[2]**2,d[4]**2,d[6]**2,d[8]**2,]
d

[1, 3, 4, 5, 16, 7, 64, 9, 225]

In [19]:
#34) was to delete the values in the specific position of the given list 

l=[1,2,3,4,5,6,7,8]
l[0:3]+l[4::]
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [20]:
# 34) was to delete the values in the specific position of the given list 

l=[1,2,3,4,5,6,7,8]
del l[2]
l

[1, 2, 4, 5, 6, 7, 8]

In [21]:
# 34) was to delete the values in the specific position of the given list 

l=[1,2,3,4,5,6,7,8]
l[4:5]=[]
l

[1, 2, 3, 4, 6, 7, 8]

In [4]:
#35) was to delete the new value into the ending of the list
l=[1,2,3,4,5,6]
del l[-1]
l

[1, 2, 3, 4, 5]

In [5]:
#36) was to delete the new value into the middle of the list
l=[1,2,3,4,5,6]
del l[len(l)//2]
l

[1, 2, 3, 5, 6]

In [6]:
#37) was to delete the new value into the starting of the list
l=[1,2,3,4,5,6]
del l[0]
l

[2, 3, 4, 5, 6]

In [7]:
#38) was to concat the value into starting of tuple
t=(1,2,3,4,5,6)
t=(10,20)+t[0::]
t
#adress will change

(10, 20, 1, 2, 3, 4, 5, 6)

In [9]:
#39) was to concat the value into middle of tuple
t=(1,2,3,4,5,6)
t=t[0:len(t)//2]+(10,20)+t[len(t)//2::]
t

(1, 2, 3, 10, 20, 4, 5, 6)

In [10]:
#40) was to concat the value into starting of tuple
t=(1,2,3,4,5,6)
t=t[0::]+(10,20)
t

(1, 2, 3, 4, 5, 6, 10, 20)

In [12]:
#41) was to modify the sequence of values in given tuple
t=(1,2,3,4,5,6)
t=t[0:3:]+(10,20)+t[-1::]
t

(1, 2, 3, 10, 20, 6)

In [13]:
#42) was to delete the sequence of values in given tuple
t=(1,2,3,4,5,6)
t=t[3::]
t

(4, 5, 6)

In [14]:
#43) was to concat the new value into the set
s={1,2,3}
s=s|{'a','b'}
s
#address will change

{1, 2, 3, 'a', 'b'}

In [15]:
#43) was to concat the new value into the set
s={1,2,3}
s|={'a','b'}
s
#address will  not change

{1, 2, 3, 'a', 'b'}

In [16]:
#44) was to delete the specific value into the set
s={1,2,3,4,5,6}
s=s-{4,5,6}
s
# address will change

{1, 2, 3}

In [17]:
#44) was to delete the specific value into the set
s={1,2,3,4,5,6}
s-={4,5,6}
s
# address will not change

{1, 2, 3}

In [20]:
#45) was to concat the new key and values into the dict
d={'a':10}
d['b']=20
print(d)
e={'a':30,'b':40}
f={'c':50,'d':60}
e|=f
print( e)

{'a': 10, 'b': 20}
{'a': 30, 'b': 40, 'c': 50, 'd': 60}

In [22]:
#46) was to delete the specific value and key in the dict
d={'a': 30, 'b': 40, 'c': 50, 'd': 60}
del d['c']
d

{'a': 30, 'b': 40, 'd': 60}

In [24]:
# 47) was to modify the specific value and key in the dict
d={'a': 30, 'b': 40, 'c': 50, 'd': 60}
d['b']=20
d

{'a': 30, 'b': 20, 'c': 50, 'd': 60}

In [25]:
#47) was to modify the specific value and key in the dict
d={'a': 30, 'b': 40, 'c': 50, 'd': 60}
d|={'a': 30, 'b': 0, 'c': 50, 'd': 60}
d

{'a': 30, 'b': 0, 'c': 50, 'd': 60}

In [28]:
#48) was to concat the list and tuple by using type casting
l=['a','b','c']
t=(10,20,30)
tuple(l)+t

('a', 'b', 'c', 10, 20, 30)

In [29]:
#48) was to concat the list and tuple by using type casting
l=['a','b','c']
t=(10,20,30)
l+list(t)

['a', 'b', 'c', 10, 20, 30]

In [30]:
#49) was to concat the list and tuple by using without type casting
l=['a','b','c']
t=(10,20,30)
l+=t
l

['a', 'b', 'c', 10, 20, 30]

In [31]:
#50) wae to check the given number is divisible by 3
n=19
print(n%3==0)

False

In [32]:
#51) wae to check the given number is divisible by 2 and 6
n=19
print(n%2==0 and n%6==0)

False

In [33]:
#52) wae to extract the last digit in the given integer number (without type casting)
n=1999
n%10

9

In [34]:
#wae to check the last digit is divisible by 3 from given integer number(without typecasting)
n=1996
((n%10)%3)==0

True

In [35]:
#wae to check the last digit is divisible by 3 from given integer number(without typecasting)
n=1996
(int(str(n)[-1]))%3==0

True

In [36]:
#wae to check the given number is greater than 150
n=140
print(n<150)

True

In [38]:
#wae to check the given number is greater than and equal to 100

n=140

print(n<=100)

False

In [39]:
#wae to check the given number is less than 150
n=140
print(n>150)

False

In [41]:
#wae to check the given number is less than and equal to 100

n=140

print(n<=100)

False

In [42]:
#wae to check the given number is grater than 15 and less than 24
n=20
print(n>15 and n<24)

True

In [43]:
#wae to check the given number is even
n=6
print((n%2)==0)

True

In [44]:
#wae to check the given number is even
n=6
print((n%2)!=0)

False

In [45]:
#wae to check perform the replication of a given string with 6
s="abc"
print(s*6)

abcabcabcabcabcabc

In [46]:
#wae to check the given number is divisible by 3 and also the number should be greater than 22
n=24
print(n%3==0 and n>22)

True

In [47]:
#wae to check perform the len of collection is even or not
g="sunethra"
len(g)%2==0

True

In [48]:
#wae to check perform the length of the collection is less than 55 and greather than 16
r="sunethra lakshmi sai"
print(len(r)>16 and len(r)<55)

True

In [49]:
#wae to check perform the length of the collection is less than 55 and greather than 16
r="sunethra lakshmi sai"
16<len(r) and len(r)<55

True

In [50]:
#wae to check perform the length of the collection is less than 55 and greather than 16
r="sunethra lakshmi sai"
16<len(r)<55

True

In [51]:
#wae to check perform the len of collection is divisible by 5 and odd
r="sunethra lakshmi sai"
print(len(r)%5==0 and len(r)%2!=0)

False

In [52]:
#wae to check extract the middle position of a given collection is either str,list,tuple
s="hai"
res=type(s[len(s)//2])
print(res in [str,list,tuple])

True

In [53]:
#wae to check the given number is greater than 20 and less than 30 and it should be even
n=26
n>20 and n<30 and n%2==0

True

In [54]:
#wae to check the given number is even and it is shou;d be less than 120
n=198
n<120 and n%2==0

False

In [55]:
#wae to check the given number is even and present from 40 to 70
n=50
n%2==0 and 40<=n and n<70

True

In [56]:
#wae to check the given nember is odd and should be grater than 97
n=100
n>97 and n%2!=0

False

In [57]:
#wae to check the given number is less than 122 and greater than 48 and the number should be divisible by 4
n=100
n<122 and n>48 and n%4==0

True

In [ ]:
#wae to check the given number is divisible by 3 or 5 dispaying values

In [58]:
#wae to check the given number is between 100 and 200 including the limit
n=200
100<=n and n<=200

True

In [59]:
#wae to check the given number is in between 100 and 200
n=150

100<n and n<200

True

In [61]:
#wae to check the given string last character ascii value should be divisib;e by 5
s="sunethra"
print(ord(s[-1])%5==0)

False

In [6]:
#wae to check the given number is present between 60 and 130 and the number should be divisible by 3 and 4 and the last digit should be less than 9
n=120
print(60<=n<=130 and n%3==0 and n%4==0 and n%10<9)

True

In [16]:
#wae to check the given number is even or less than 25
n=23
print(n<25 and n%2==0)

# we can use or operator also 
n=24
print(n%2==0 or n<25)

False
True

In [23]:
#wae to check the given number is even or grethan than 25
n=27
print( n%2==0 or n>25)

# we can use and operator also 
n=27
print(n%2==0 and n>25)

True
False

In [24]:
#wae to check the given number is divisible by either 3 or 5
n=40
print(n%3==0 or n%5==0)

True

In [25]:
#wae to check the given number is not an even number
n=40
print(n%2!=0)

False

In [26]:
#wae to check the given number is not an odd number
n=40
print(n%2==0)

True

In [27]:
#wae to check the given number is not divisible by 3
n=40
print(n%3!=0)

True

In [39]:
#wae to check the given number is not a divisible by 3 and 5
n=16
print(not (n%5==0 and n%3==0))

print(n%5!=0 and n%3!=0)

True
True

In [41]:
#wae to check the given number is not a divisible by 3 or 5
n=12

print(n%5!=0 or n%3!=0)

True

In [43]:
#wae to check the given character ascii value is not divisible by 5
n='A'
print(ord(n)%5!=0)

False

In [44]:
#wae to check find out the ascii character in a given number
n=65
chr(n)

'A'

In [48]:
#wae to check find out the ascii value in a given character
n=90
chr(n)

'Z'

In [54]:
#wae to check the given character is lowwercase or not

ch="si"
print('a'<=ch and ch<="z")
print(len(ch)==1 and "a"<=ch and ch<='z')

print(len(ch)==1 and "a"<=ch<='z')

True
False
False

In [56]:
#wae to check the given character is uppercase or not

ch="S"
print('A'<=ch and ch<="Z")
print(len(ch)==1 and "A"<=ch and ch<='Z')

print(len(ch)==1 and "A"<=ch<='Z')

True
True
True

In [57]:
#wae to check the given character is the alphabet
ch='s'

print(len(ch)==1 and ("A"<=ch<='Z'or "a"<=ch<='z'))

True

In [61]:
#wae to check the given character is the ascii number
ch='a'
print(len(ch)==1 and "0"<=ch<='9')

False

In [63]:
#wae to check the given character is the special character
ch='$'
print(not('A'<=ch<="z" or'a'<=ch<='z' or '0'<=ch<='9'))
print(0<=ord(ch)<=47 or 58<=ord(ch)<=64 or 91<=ord(ch)<=96 or 123<=ord(ch)<=127)

True
True

In [68]:
#wae to check the given character is  should not be uppercase 

ch="S"
print(not('A'<=ch and ch<="Z"))
print(len(ch)==1 and "A"<=ch and ch<='Z')

print(len(ch)==1 and "A"<=ch<='Z')

False
True
True

In [77]:
#wae to check the given character should not be lowwercase

ch="s"
print(not('a'<=ch and ch<="z"))
print (not(len(ch)==1 and "a"<=ch and ch<='z'))

print(not(len(ch)==1 and "a"<=ch<='z'))

False
False
False

In [79]:
#wae to check the given character should not be a alphabet
ch='1'

print(not(len(ch)==1 and ("A"<=ch<='Z'or "a"<=ch<='z')))

True

In [85]:
#wae to check the given character  should not be ascii number
ch='1'
print(not(len(ch)==1 and "0"<=ch<='9'))

False

In [86]:
#wae to check the given character should not be a special character
ch='$'
print('A'<=ch<="z" or'a'<=ch<='z' or '0'<=ch<='9')
print(not(0<=ord(ch)<=47 or 58<=ord(ch)<=64 or 91<=ord(ch)<=96 or 123<=ord(ch)<=127))

False
False

In [89]:
#wae  to check the given character is an vowel 
ch="a"
print(ch=="a" or ch=="e" or ch=="i"or ch=="o"or ch=="u"or ch=="A"or ch=="E"or ch=="I"or ch=="O"or ch=="U")
print(ch in "aeiouAEIOU")

True
True

In [91]:
#wae  to check the given character is an consonant
ch="s"
print(not(ch=="a" or ch=="e" or ch=="i"or ch=="o"or ch=="u"or ch=="A"or ch=="E"or ch=="I"or ch=="O"or ch=="U"))
print(ch not in "aeiouAEIOU")

True
True

In [1]:
#101) wae to convert uppercase to lowercase in a given character
ch='S'
chr(ord(ch)+32)

's'

In [2]:
#101) wae to convert uppercase to lowercase in a given character
ch='S'
ch.lower()

's'

In [4]:
#102) wae to convert lowercase to uppercase in a given character
ch='s'
chr(ord(ch)-32)

'S'

In [7]:
#102) wae to convert lowercase to uppercase in a given character
ch='s'
ch.upper()

'S'

In [10]:
#103) wae to extract the previous character in the given character
ch="s"
chr(ord(ch)-1)

'r'

In [11]:
#104) wae to extract the next character in the given character
ch="s"
chr(ord(ch)+1)

't'

In [12]:
#105) wae to check the given character is converted to ascii and the value is even as well as the character should be lower case
ch='d'
len(ch)==1 and ord(ch)%2==0 and 'a'<=ch<='z'

True

In [14]:
#106) wae to check the given character is converted to ascii and the value is odd as well as the character should be upper case
ch='S'
len(ch)==1 and ord(ch)%2!=0 and 'A'<=ch<='Z'

True

In [15]:
#107) wae to check which the given number is converted to character is not a special symbol or not
n=58
'A'<=chr(n)<='Z'or'a'<=chr(n)<='z'or'0'<=chr(n)<='9'

False

In [16]:
#108) wae to check the given number of ascii character is a vowel or not
n=65
chr(n) in"aeiouAEIOU"

True

In [17]:
#109) wae to check if the first and second chracter are sequence or not in a given string
st='abcs'
ord(st[0])+1==ord(st[1])
# or we can write ord(st[0])==ord(st[1])-1

True

In [18]:
#110) wae to check the given character ascii value should be either greater than 50 or greater than 25 or less than 112
ch='0'
ord(ch)>25 or ord(ch)<112

True

In [20]:
#111)wae to given number is increased by 1
m=10
m+=1
m
#using assienment operator

11

In [21]:
#111)wae to given number is increased by 1
m=10
m=m+1
m
#using arthimatic operator

11

In [25]:
#112)wae to given number is increased by 2
m=10
m+=2
m
#using assienment operator

12

In [24]:
#112)wae to given number is increased by 2
m=10
m=m+2
m
#using arthimatic operator

12

In [23]:
#113)wae to given number is decreased by 1
m=10
m-=1
m
#using assienment operator

9

In [22]:
#113)wae to given number is decreased by 1
m=10
m=m-1
m
#using arthimatic operator

9

In [26]:
#114)wae to given number is decreased by 3
m=10
m-=3
m
#using assienment operator

7

In [27]:
#114)wae to given number is decreased by 3
m=10
m=m-3
m
#using arthimatic operator

7

In [28]:
#115) wae to check given integer number is present in the collection
n=10
coll=[10,20,30,40]
n in coll

True

In [29]:
#116) wae to perform the addition  operation on a value and b value and final result should be updste to a
a=50
b=60
a=a+b
a
#arthimatic operator

110

In [30]:
#116) wae to perform the addition  operation on a value and b value and final result should be updste to a
a=50
b=60
a+=b
a
#assienment operator

110

In [31]:
#117) wae to check the given value is present in the collection
st='s'
coll='sunethra'
st in coll

True

In [37]:
#118) wae to check the given list present in the list
st=[10,20,30]
c=[10,(20,30),{100,300},{'a':10},"haii"]
print(st in c)

False

In [36]:
#119) wae to check the given dict value is present in the list
st={'a':10}
c=(10,20,30,{'a':10})
st in c

True

In [38]:
#120) wae to check given value is integer value or not
b=15
type(b)==int

True

In [39]:
#121) wae to check given value is string value or not
b='sunethra'
type(b)==str

True

In [42]:
#122) wae to check given value is single value or not
b=1
print(type (b) in [int,float,complex,bool,bytes,type(None)])#using in operator
print(type(b) not in [list,str,tuple,set,dict])# using not in operator

True
True

In [43]:
#123) wae to check given value should not be single value
b=1
print(type (b) not in [int,float,complex,bool,bytes,type(None)])#using not in operator
print(type(b)  in [list,str,tuple,set,dict])# using in operator

False
False

In [44]:
#124) wae to check given value is multivalue or not
b=[1,2]
print(type (b) not in [int,float,complex,bool,bytes,type(None)])#using not in operator
print(type(b)  in [list,str,tuple,set,dict])# using in operator

True
True

In [45]:
#125) wae to check the given value is a mutable value or not
s="sai"
type(c) in [list,set,dict]

True

In [46]:
#126) wae to check the given value is a immutable value or not
s="sai"
type(c) not in [list,set,dict]

False

In [47]:
#127) wae to check if a given value is divisible by 6 as well as that value present in the collection or not
n=36
n%3==0 and n in [10,60,50]

False

In [48]:
#128) wae to perform the bitwise and operation in given values are 15 and 19
m=15
n=19
m&n

3

In [49]:
#129) wae to perform the bitwise or operation in given values are 115 and 79
m=115
n=79
m|n

127

In [50]:
#130) wae to perform the bitwise xor operation in given values are 56 and 22
m=56
n=22
m^n

46

In [52]:
#131) wae to perform the bitwise not operation in given values are 15 
m=15
~m

-16

In [53]:
#132) wae to perform the bitwise left shift with 32 an skipping value is 3
m=32 
n=3
m<<n

256

In [54]:
#133) wae to perform the bitwise right shift with 25 an skipping value is 2
m=25
n=2
m>>n

6

In [56]:
#134) to fing out the output of a givrn condition (10+20*60 and 10**3) or ({10,20} or not([15-16]))
(10+20*60 and 10**3) or ({10,20} or not([15-16]))

1000

In [59]:
#135) wae to check if a given keys is present in a dict or not
d={'a':10,'b':20}
k='a'
print(k in d)
print(k in d.keys())

True
True

In [60]:
#136) wae to check if a value is present in dict or not
d={'a':10,'b':20}
k=10
print(k in d)
print(k in d.values())

False
True

In [61]:
#137) wae to check if a given keys is not present in a dict or not
d={'a':10,'b':20}
k='a'
print(k not in d)
print(k not in d.keys())

False
False

In [63]:
#138) wae to check if keys value pair is present in dict or not
d={'a':10,'b':20}
k=('a',10)
print(k in d.items())

True

In [64]:
#139) wae to check if 2 values are pointing to the same address or not
a=15
b=15
a is b

True

In [65]:
#140) wae to check both the values should be interger and both the values are pointing to the same address
a=256
b=256
type(a)==int and type(b)==int and a is b

True